@import url('https://fonts.cdnfonts.com/css/hubot-sans');

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

html::-webkit-scrollbar {
    display: none;
}
html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    margin: 0;
    font-family: 'Hubot-Sans', Untitled Sans, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #05060f linear-gradient(0deg, rgba(216, 236, 248, 0.06), rgba(152, 192, 239, 0.06));
    font-size: max(calc(var(--_size) * 0.03), 10px);
    --_factor: min(600px, 80vh);
    --_size: min(var(--_factor), 80vw);
}

h2 {
    font-family: 'Hubot-Sans', sans-serif;
}

h2, p {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    width: 100%;
    justify-content: center;
    color: #bad6f7;
    padding: 2em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    translate: 0 -1em;
    animation: load 2s ease-in 2s forwards, up 1.4s ease-out 2s forwards;
}

.header > h2 {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.04s ease-in-out;
}

.header > h2:hover {
    opacity: 1;
    text-shadow: 0 2px 16px rgba(174, 207, 242, 0.6);
    width: fit-content;
}

.header > div.mid-spot {
    width: 1.8em;
    height: 1.8em;
    border-radius: 50%;
    background: black;
    box-shadow: 0 0 1em 0 #98c0ef;
    cursor: pointer;
    transition: box-shadow 1s ease-in-out;
}

.header .spotlight {
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    transition: filter 1s ease-in-out;
    height: 42em;
    width: 100%;
    overflow: hidden;
}

.header .spotlight > div {
    border-radius: 0 0 50% 50%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 3em;
    width: 30em;
    height: max(42em, 86vh);
    background-image: conic-gradient(from 0deg at 50% -5%, transparent 45%, #bdd7f6a6 46% 56%, transparent 57%), conic-gradient(from 0deg at 50% 0%, transparent 15%, #bdd7f6bd 16% 56%, transparent 57%);
    transform: translateY(0.2em);
    opacity: 0.14;
    pointer-events: none;
    animation: spotlight 6s ease-out 2s forwards;
}

@keyframes load {
    0% { opacity: 0; }
    80% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes up {
    0% { translate: 0 3em; }
    100% { translate: 0; }
}

button.contact-btn {
    position: absolute;
    left: min(46em, 60vw);
    right: 0;
    margin: 0 auto;
    width: 8em;
    height: 2.4em;
    cursor: pointer;
    border-radius: 20em;
    border: none;
    transition: background 0.5s, transform 0.5s;
    border: 1px solid #c2ccff33;
    opacity: 1;
    padding-top: 0.3em;
    background: #121521;
    color: #9dc3f7;
    white-space: nowrap;
}

.contact-btn-content {
    background: linear-gradient(0deg, #d8ecf8, #98c0ef);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.2em;
    line-height: 142%;
}

.content {
    position: relative;
    display: grid;
    justify-content: center;
    width: min(85%, 50em);
    text-align: center;
    color: #d8ecf8;
    opacity: 0;
    translate: 0 1em;
    animation: load 2s ease-in 2s forwards, up 1.4s ease-out 2s forwards;
}

.dodo > div > div {
    height: 22em;
    width: 14em;
    background: url('dodo.png') center/contain no-repeat;
    translate: 0 1em;
    position: relative;
    filter: drop-shadow(0 0 3em #98c0ef);
    animation: mount 4s ease-in-out forwards 3s;
    opacity: 0;
}

@keyframes mount {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
